@model EasyTicketLogic.JourneyPreferences

@using (Html.BeginForm())
{
    <div class="editor-label">
        @Html.LabelFor(model => model.DepartureDate)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.DepartureDate, new { @class = "datepicker" }) <br />
        @Html.ValidationMessageFor(model => model.DepartureDate)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.ArrivalDate)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.ArrivalDate, new { @class = "datepicker" }) <br />
        @Html.ValidationMessageFor(model => model.ArrivalDate)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.DepartureAddress.CityName)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.DepartureAddress.CityName) <br />
        @Html.ValidationMessageFor(model => model.DepartureAddress.CityName)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.ArrivalAddress.CityName)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.ArrivalAddress.CityName) <br />
        @Html.ValidationMessageFor(model => model.ArrivalAddress.CityName)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.NumberOfAdults)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.NumberOfAdults) <br />
        @Html.ValidationMessageFor(model => model.NumberOfAdults)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.NumberOfChildren)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.NumberOfChildren) <br />
        @Html.ValidationMessageFor(model => model.NumberOfChildren)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.NumberOfInfants)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.NumberOfInfants) <br />
        @Html.ValidationMessageFor(model => model.NumberOfInfants)
    </div>  
    <div class="editor-label">
        @Html.LabelFor(model => model.MaxTotalPrice)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.MaxTotalPrice) <br />
        @Html.ValidationMessageFor(model => model.MaxTotalPrice)
    </div>    
}
